
@{
    ViewData["Title"] = "PagoEstudiante";
    Layout = "_LayoutMPC";

}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="
    background: #f6f5f7;
">
        </div>



    </div>

    <div class="container1" id="container">
        <div class="form-container sign-in-container">
            <form>
                <div class="row">
                    <div class="col-md-6">
                    
                        <label for="inputState" class="form-label"> Tipo de Identificacion </label>
                        <select id="inputState" class="form-select" style="position:relative; margin-top:0.5rem;">
                            <option selected>Cedula de Ciudadania</option>
                            <option> Cedula Extranjeria</option>
                            <option> Cedula Extranjeria</option>
                            <option>Tarjeta de Identidad</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Numero de Documento </label>
                        <input type="text" class="input1" id="inputtext">
                    </div>

                </div>
                <div class="b-row">
                    <div class="row  ">
                        <div class="col-md-6">

                            <button type="submit" class="programar"> Programar</button>
                        </div>

                        <div class="col-md-6">

                            <button type="submit" class="Volver">Volver</button>

                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


