
@{
    ViewData["Title"] = "OlvidarContrasena";
}

<div class="container" id="container">
	<div class="form-container sign-up-container">
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Ingresa tu Usuario</h1>
			<div class="social-container">
			</div>

			<input type="email" placeholder="Usuario" />
			</br>
			</br>


			<button>Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
			</div>
			<div class="overlay-panel overlay-right">
				</br>
				</br>
				</br>

				<h1>¿Olvidaste tu contraseña?</h1>

				<button style="position:relative; margin-top:122px;">Atras</button>
				<p></p>

			</div>
		</div>
	</div>
</div>

