
@{
    ViewData["Title"] = "ReportesAdmin";
    Layout = "_LayoutMP";
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>



    </div>
</div>


<div class="container1" id="container">
    <div class="form-container sign-in-container">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Tipo de Documento</label>
                    <select id="inputState" class="form-select" style="position:relative; margin-top:0.5rem;">
                        <option selected>Cedula de Ciudadania</option>
                        <option>Tarjeta de Identidad</option>
                    </select>

                </div>
                <div class="col-md-4">
                    <label for="inputEmail4" class="form-label">Numero de documento</label>
                    <input type="text" class="input1"  id="inputtext">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Exposicion de Seguridad </label>
                    <select id="inputState" class="form-select"  style="position:relative; margin-top:0.5rem;">
                        <option selected>Maestroa en Gestion TI.</option>
                        <option>Maestria en medio Ambiente</option>
                    </select>
                  
                </div>

                <button type="submit" class="boton-buscarR">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-buscar" src="https://cdn-icons-png.flaticon.com/512/107/107122.png">
                        </div>
                        <div class="col-md-6 p-r"> Buscar</div>
                    </div>
                </button>
            </div>
        </form>
    </div>

</div>
